.input {
  color: white;
}

.weather-cards {
  display: none;
  align-items: stretch;
  gap: 10px;
  max-width: 100%;
  overflow-x: auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
}

.weather-cards.active {
  display: flex;
}

.weather-cards::-webkit-scrollbar-track {
  background: transparent;
}

.weather-cards::-webkit-scrollbar-thumb {
  background: #f1f1f1;
  border-radius: 10px;
}

.weather-cards::-webkit-scrollbar {
  width: 10px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.weather__card__week {
  flex: 1 0 auto;
}

.weather-errors {
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: #ff4d4f;
  background-color: #ffeaea;
  border: 1px solid #ffb3b3;
  padding: 10px 15px;
  border-radius: 8px;
  margin-top: 15px;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

.favorites {
  margin-top: 20px;
}

.favorites h3 {
  margin-bottom: 10px;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.favorite-city {
  list-style: none;
  cursor: pointer;
  padding: 5px 10px;
  margin-bottom: 35px;
  background-color: #f1f1f1;
  border-radius: 8px;
  transition: 0.3s;
}

.favorite-city:hover {
  background-color: #dbeafe;
}

ul {
  display: flex;
  gap: 10px;
}

.delete__city {
  border: 1px solid black;
  padding: 2px;
  border-radius: 5px;
  margin-left: 8px;
}

.delete__city:hover {
  background-color: aqua;
  color: #ff4d4f;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding-top: 30px;
  z-index: 9999;
}

.imgGif {
  width: 200px;
  height: 200px;
}

.text__loader {
  color: white;
  font-size: 24px;
  font-weight: bold;
}
