.weather__card {
  width: 250px;
  height: 280px;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 8px 12px 10px rgba(167, 156, 156, 0.3);
}

.title__info {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding-bottom: 40px;
  gap: 10px;
}

.main__card__title {
  color: darkslategray;
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
}

.title__info p {
  color: white;
  background-color: orange;
  font-size: 12px;
  font-weight: bold;
  padding: 2px 8px;
  border-radius: 10px;
}

.degree__info {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 20px;
  padding-bottom: 30px;
}

.card__temperature__info {
  color: black;
  font-size: 72px;
  font-weight: bold;
}

.card__weather__info {
  color: darkslategray;
  font-size: 20px;
  padding-top: 15px;
}

.img__degree {
  width: 25px;
  height: 25px;
  position: relative;
  bottom: 5px;
}

img {
  max-width: 50px;
  max-height: 50px;
}