.weather__card__week {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-between;
  gap: 10px;
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 8px 12px 10px rgba(167, 156, 156, 0.3);
}

.weather__card__week h3 {
  color: black;
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 10px;
}

.day__item {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.day__item h3 {
  padding-bottom: 20px;
}

.week_img {
  width: 60px;
  height: 60px;
  padding-top: 5px;
}

img {
  max-width: 50px;
  max-height: 50px;
}

strong {
  color: black;
  font-size: 22px;
  padding-bottom: 20px;
}

span {
  color: black;
  font-weight: bold;
  font-size: 18px;
}
