.window__login {
  border: 1px solid gray;
  border-radius: 15px;
  padding: 15px;
}

.login__title {
  color: black;
  font-size: 28px;
  line-height: 36px;
  font-weight: bold;
}

.login__title__info {
  color: black;
  font-size: 20px;
  line-height: 26px;
  padding-bottom: 20px;
}

.info__input {
  color: gray;
  font-size: 14px;
  padding-bottom: 5px;
  margin-top: 10px;
}

.input {
  width: 100%;
  color: black;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px;
}

.window__login button {
  width: 100%;
  margin-bottom: 15px;
  margin-top: 15px;
}

.message__color-green {
  color: green;
}
